.example-container {
    // width: 98vw;
    // height: 88vh;
    // border: 1px solid rgba(0, 0, 0, 0.5);
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 20px;
  }
  .headline{
    color: #6E79D7;
    padding-right: 15px;
    font-size: 40px;
    font-weight: 500;
  }
  .mat-toolbar {
    background: white;
    /* color: rgba(0,0,0,.87); */
}
::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0px 39px 8px 0px !important;}
::ng-deep .mat-form-field-label-wrapper { top: 2px; }
::ng-deep .mat-form-field {
  margin-top: 25px;
  width: 200px;
}


::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 200px;
    margin-top: 10px;
}
::ng-deep.mat-form-field-appearance-outline .mat-form-field-outline {
  width: 180px;
  border-radius: 20px;
    height: 49px;
}
.search-bar {
  height: 60px;
  padding:1em;
  outline: none;
}

#search {
  font-size: 2em;
  font-family: Linux Libertine;
  position: relative;
  top: 50%;
  left: 50%;
  padding: 30px;
  max-width: 600px;
  height: 60px;
  width: 100%;
  transform: translate(-50%, -50%);
  display: inline-block;
  border: 0;
  border-bottom: 5px solid black;
  background-color: #fff;
  color: #000;
  outline: none;
  border-radius: 25px;
  box-shadow: 0;
}

input::placeholder {
  font-size: 1em;
  font-family: Linux Libertine, times;
  color: #D8D8D8;
}
  .border-input{
    border-radius: 25px;
  }

  nav {
    background-color: #fff;
    padding: 15px;
}

.search-input {
    padding: 10px;
    border: none;
    border-radius: 25px;
    width: 200px; /* You can adjust the width as needed */
    margin-right: 10px;
    background: #EDEDED;
}


/* You can add more styles for navigation links if needed */
.nav-links {
    color: #fff;
    text-decoration: none;
    margin-right: 15px;
}
.float-right{
  float: right;
}
.avatar {
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.nav-div-align{
  border-bottom: 1px solid #2A3AC4;
}