    <!-- <mat-toolbar color="white">
        
        <span class="headline">AishConnect</span>
          

          <mat-form-field appearance="outline" class="custom-mat-form-field">
            <input type="search" matInput placeholder="Search" />
            <mat-icon matPostfix>search</mat-icon>
          </mat-form-field> 
          
        
    </mat-toolbar>
    <mat-drawer-container class="example-container" autosize >
        <mat-drawer #drawer class="example-sidenav" mode="side" >
          <p>Auto-resizing sidenav</p>
          <p >Lorem, ipsum dolor sit amet consectetur.</p>
          
        </mat-drawer>      
      </mat-drawer-container> -->
      <nav class="nav-div-align">
        <span class="headline">AishConnect</span> &nbsp; &nbsp;
        <input type="text" class="search-input" placeholder="Search...">
        <!-- Add more navigation links as needed -->
        <div class="float-right">
          <img src="./../../assets/photos/avtar-1.jpg" alt="Avatar" class="avatar"> &nbsp;&nbsp; John 
        </div>
    </nav>
