.container {
    margin-top: 10px
}

.counter-box {
    display: block;
    background: #f6f6f6;
    padding: 40px 20px 37px;
    text-align: center
}

.counter-box p {
    margin: 5px 0 0;
    padding: 0;
    color: #909090;
    font-size: 18px;
    font-weight: 500
}

.counter-box i {
    font-size: 60px;
    margin: 0 0 15px;
    color: #d2d2d2
}

.counter {
    display: block;
    font-size: 32px;
    font-weight: 700;
    color: #666;
    line-height: 28px
}

.counter-box.colored {
    background: #3acf87
}

.counter-box.colored p,
.counter-box.colored i,
.counter-box.colored .counter {
    color: #fff
}
.chart-div-align{
    padding: 10px;
    height: 300px;
}

.two-tone-card {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background: linear-gradient(to bottom, #3b3a64, #aa2cc7);
    color: #fff;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .two-tone-card h2 {
    margin-top: 0;
  }
  
  .two-tone-card p {
    margin-bottom: 0;
  }

  .form-select {
    border-radius: 25px;
  }
  .white-color{
    color: white;
  }
  .small-text{
    font-size: 8px
  }
  .number-text{
    font-size: 14px;
  }
  .number-text-small{
    font-size: 10px;
  }
  .mat-card-title {
    font-size: 19px;
  }
  .text-title-size{
    font-size: 12px;
    font-weight: 500 !important;
  }
  .card-title-text{
    color: #2A3AC4;
    font-weight: 600;
    font-size: 13px;
  }
  .total-monthly-sale-text{
    font-size: 17px;
    font-weight: 600;
  }
  .inner-mat-card{
    height: 100px;
  }
  .mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
  }
  .chart-title{
    font-size: 16px;
    font-weight: 600;
  }
  .chart-sub-title{
    font-size: 10px;
  }
  .chat-div-alignment{
    height: 300px;
  }
  .table-th{
    color: #C839B9;
    font-weight: 600;
  }
  tr.mat-header-row {
    height: 30px !important;
}
tr.mat-row, tr.mat-footer-row {
  height: 30px;
}
.text-align-center{
  text-align: center;
}
.pentagon-card{
  background-color: lightgray;

-webkit-clip-path: polygon(100% 0, 100% 69%, 52% 83%, 0 69%, 0 0);
clip-path: polygon(100% 0, 100% 69%, 52% 83%, 0 69%, 0 0);
height: 250px
}
.donut-chart-alignment{
  width: 290px !important;
  height: 290px !important;
}
.medle-alignment{
  width: 60px;
  height: 60px;
}
.top-perfoemance-div{
  // color: #8893FF;
  font-weight: 500;
  font-size: 12px;
}
.top-chart-pie{
  height: 166.333px !important;
  width: 166.167px !important;
}
.guage-chart{
  width: 310px !important;
  height: 310px !important;
}
ul {
  list-style-type: none;
  padding-left: 5px !important;
}
li{
  font-size: 10px;
    overflow: hidden;
    height: 14px;
}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
.loader {
  position: absolute;
    left: 50%;
    top: 61%;
  width: 64px;
  height: 64px;
  background-color: rgba(0, 0, 0, 0.5);
  transform: rotate(45deg);
  overflow: hidden;
  left: 50%;
    top: 61%;
}
.loader:after{
  content: '';
  position: absolute;
  inset: 8px;
  margin: auto;
  background: #222b32;
}
.loader:before{
  content: '';
  position: absolute;
  inset: -15px;
  margin: auto;
  background: #de3500;
  animation: diamondLoader 2s linear infinite;
}
.round-button {
  display:block;
  width:30px;
  height:30px;
  line-height:80px;
  border: 2px solid #f5f5f5;
  border-radius: 50%;
  color:#f5f5f5;
  text-align:center;
  text-decoration:none;
  background: #555777;
  box-shadow: 0 0 3px gray;
  font-size:20px;
  font-weight:bold;
}
.round-button:hover {
  background: #777555;
}
.mat-icon {
  position: absolute;
  margin-top: -12px;
  margin-left: -12px;
}
@keyframes diamondLoader {
  0%  ,10% {
    transform: translate(-64px , -64px) rotate(-45deg)
  }
  90% , 100% {
    transform: translate(0px , 0px) rotate(-45deg)
  }
} 

.loaderClass{
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

// new css
.chat-div-alignment{
  height: 300px;
}
.folt-right{
  float: right;
  color: #2A3AC4;
  
}
.mt-18{
  margin-top: 1rem !important;
}

table {
  border: none;
  border-collapse: collapse;
}
td {
  border:1px solid black;
  border-top: none;
  border-bottom: none;
}
td:first-child, :last-child {
  border: none;
}
tr:last-child td {
  border: none; 
}
