.mat-card-title {
    font-size: 19px;
  }
  .text-title-size{
    font-size: 12px;
    font-weight: 500 !important;
  }
  .card-title-text{
    color: #2A3AC4;
    font-weight: 600;
    font-size: 13px;
  }
  .total-monthly-sale-text{
    font-size: 17px;
    font-weight: 600;
  }
  .inner-mat-card{
    height: 100px;
  }
  .mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
  }
  .chart-title{
    font-size: 14px;
    font-weight: 600;
  }
  .chart-sub-title{
    font-size: 10px;
  }
  .chat-div-alignment{
    height: 300px;
  }
  .folt-right{
    float: right;
    color: #2A3AC4;
    
}
.title-text{
    font-size: 22px;
    text-align: center;
}
.chart-alignment{
    height: 70vh !important;
    width: 77vw !important;
}